@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Mabook";
  src: url("/fonts/Mabook.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-neutral-900 !important;
  }
  body {
    @apply bg-neutral-900;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title tracking-tight text-neutral-100 uppercase;
  }
  h1 {
    @apply font-medium text-5xl max-md:text-4xl;
  }
  h2 {
    @apply font-medium text-4xl max-md:text-3xl;
  }
  h3 {
    @apply font-medium text-3xl max-md:text-2xl;
  }
  h4 {
    @apply font-medium text-2xl max-md:text-xl;
  }
  h5 {
    @apply font-medium text-xl max-md:text-lg;
  }
  h6 {
    @apply font-semibold text-lg max-md:text-base;
  }
  p,
  input {
    @apply font-sans text-neutral-400 leading-8;
  }
  ::selection {
    @apply text-white bg-[#ed028c];
  }
  .absolute-center {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .my-transition {
    @apply transition-all ease-in-out duration-300;
  }
  .margin-y {
    @apply py-24 max-sm:py-16;
  }
  .margin-x {
    @apply px-6 mx-auto max-w-7xl lg:px-8;
  }
}

.doris {
  font-family: "Mabook", sans-serif;
  text-transform: none !important;
  letter-spacing: 0px !important;
}

*,
*:focus,
*:hover {
  outline: none;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden !important;
}

.my-overflow {
  overflow-x: hidden !important;
}
